.project > img {
    width: 460px;
    height:279px;
    padding-left: 70px;
}

.project{
    margin: 45px;
    width: 450px;
    height: 279px;
    transition: transform 10ms ease-in;
}

.project:hover{
    color: white;
    background-color: rgb(94, 1, 187);
    transform: scale(1.0);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.project__content{
    padding: 10px;
}

.project__content >h4{
    padding-bottom: 5px;
}

.project__content > p{
    font-size: 15px;
}